{% extends 'base.html.twig' %}

{% block title %}Habitats index{% endblock %}

{% block body %}
    <h1>Habitats index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Comment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for habitat in habitats %}
            <tr>
                <td>{{ habitat.id }}</td>
                <td>{{ habitat.name }}</td>
                <td>{{ habitat.description }}</td>
                <td>{{ habitat.comment }}</td>
                <td>
                    <a href="{{ path('app_habitats_show', {'id': habitat.id}) }}">show</a>
                    <a href="{{ path('app_habitats_edit', {'id': habitat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_habitats_new') }}">Create new</a>
{% endblock %}
