{% extends 'base.html.twig' %}

{% block title %}Nos habitats{% endblock %}

{% block body %}
    <h1>Nos Habitats</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_habitats_new') }}" class="btn btn-success mb-3">Ajouter un habitat</a>
    {% endif %}
    <div class="row">
        {% for habitat in habitats %}
            <div class="col-md-4">
                <div class="card mb-4">
                    {% if habitat.image %}
                        <img src="{{ habitat.image.filename }}" class="card-img-top" alt="{{ habitat.name }}">
                    {% else %}
                        <img src="placeholder.jpg" class="card-img-top" alt="{{ habitat.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ habitat.name }}</h5>
                        <a href="{{ path('app_habitats_show', {'id': habitat.id}) }}" class="btn btn-primary">Voir plus</a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('app_habitats_edit', {'id': habitat.id}) }}" class="btn btn-warning">Éditer</a>
                            {{ include('habitats/_delete_form.html.twig') }}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun habitat trouvé</p>
        {% endfor %}
    </div>
{% endblock %}
