{% extends 'base.html.twig' %}

{% block title %}Habitats Index{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Liste des Habitats</h1>

    <div class="container bg-light mx-auto my-4 p-4" style="width: 50%;">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for habitat in habitats %}
                <div class="col">
                    <div class="card h-100" onclick="loadAnimals({{ habitat.id }})">
                        {% if habitat.image %}
                            <img src="data:{{ habitat.image.imageType }};base64,{{ habitat.image.data|base64_encode }}" class="card-img-top" alt="{{ habitat.name }}">
                        {% else %}
                            <img src="placeholder.jpg" class="card-img-top" alt="No image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ habitat.name }}</h5>
                            <p class="card-text">
                                {% set truncated_description = habitat.description|split(' ')|slice(0, 5)|join(' ') %}
                                {{ truncated_description }}...
                            </p>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('app_habitats_edit', {'id': habitat.id}) }}" class="btn btn-secondary">Éditer</a>
                                {{ include('habitats/_delete_form.html.twig', {'id': habitat.id}) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="text-center">No habitats found</p>
            {% endfor %}
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="text-center mt-4">
                <a href="{{ path('app_habitats_new') }}" class="btn btn-success">Ajouter</a>
            </div>
        {% endif %}
    </div>
    
    <div id="animal-container" class="mt-4"></div> <!-- Conteneur pour les animaux -->
{% endblock %}
