{% extends 'base.html.twig' %}

{% block title %}Habitats Index{% endblock %}

{% block body %}
    <h1>Habitats Index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for habitat in habitats %}
            <tr>
                <td>{{ habitat.id }}</td>
                <td>{{ habitat.name }}</td>
                <td>{{ habitat.description }}</td>
                <td>
                    {% if habitat.image %}
                        <img src="data:{{ habitat.image.imageType }};base64,{{ habitat.image.data|base64_encode }}" alt="{{ habitat.image.filename }}" style="max-width: 100px;"/>
                    {% else %}
                        No image
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_habitats_show', {'id': habitat.id}) }}">show</a>
                    <a href="{{ path('app_habitats_edit', {'id': habitat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_habitats_new') }}">Create new</a>
{% endblock %}
