{% extends 'base.html.twig' %}

{% block title %}Détails de l'Habitat{% endblock %}

{% block body %}
    <h1>{{ habitat.name }}</h1>
    {% if habitat.image %}
        <img src="{{ habitat.image.url }}" class="img-fluid" alt="{{ habitat.name }}">
    {% endif %}
    <p>{{ habitat.description }}</p>
    <h2>Animaux dans cet habitat</h2>
    <ul>
        {% for animal in habitat.animals %}
            <li>
                <a href="{{ path('app_animals_show', {'id': animal.id}) }}">{{ animal.name }}</a>
            </li>
        {% else %}
            <p>Aucun animal trouvé</p>
        {% endfor %}
    </ul>
{% endblock %}
