{% extends 'base.html.twig' %}

{% block title %}Détail de l'Habitat{% endblock %}

{% block body %}
        </div>
    </div>

    <div class="container my-4">
        <div class="card mx-auto" style="width: 48rem;">
            {% if habitat.image %}
                <img src="data:{{ habitat.image.imageType }};base64,{{ habitat.image.data|base64_encode }}" class="card-img-top" alt="{{ habitat.name }}">
            {% else %}
                <img src="placeholder.jpg" class="card-img-top" alt="No image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ habitat.name }}</h5>
                <p class="card-text">{{ habitat.description }}</p>
                
                <h2 class="text-primary text-center">Les animaux de cet habitat</h2>
                <div class="row row-cols-2 row-cols-lg-3" id="animal-container">
                    <!-- Les animaux seront affichés ici -->
                    {% for animal in animals %}
                        <div class="col p-3">
                            <a href="{{ path('app_animals_show', {'id': animal.id}) }}" class="text-decoration-none text-dark">
                                <div class="card bg-light text-black">
                                    {% if animal.image %}
                                        <img src="data:{{ animal.image.imageType }};base64,{{ animal.image.data|base64_encode }}" class="card-img-top" alt="{{ animal.name }}">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ animal.name }}</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <div class="col-12">
                            <p class="text-center">No animals found</p>
                        </div>
                    {% endfor %}

                <div class="d-flex justify-content-between mt-2">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('app_habitats_edit', {'id': habitat.id}) }}" class="btn btn-warning">Éditer</a>
                        {{ include('habitats/_delete_form.html.twig', {'id': habitat.id, 'btn_class': 'btn btn-danger'}) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="{{ path('app_habitats_index') }}" class="btn btn-primary">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
