{% extends 'base.html.twig' %}

{% block title %}Bienvenue au Zoo Arcadia{% endblock %}

{% block body %}

            <h1>Bienvenue au Zoo Arcadia</h1>
            <p>Découvrez notre zoo et nos valeurs écologiques</p>
        </div>
    </div>

    <div class="container p-4 bg-dark">
        <h2 class="text-primary text-center">Nos habitats</h2>
        <div class="row row-cols-2 row-cols-lg-3" id="habitat-container">
            <!-- Les habitats seront affichés ici -->
            {% for habitat in habitats %}
                <div class="col p-3">
                    <div class="card bg-light text-black">
                        {% if habitat.image %}
                            <img src="{{ habitat.image.filename }}" class="card-img-top" alt="Image de l'habitat {{ habitat.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ habitat.name }}</h5>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p class="text-center">No habitats found</p>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-end">
            <a href="{{ path('app_habitats_index') }}" class="btn btn-outline-light mt-2">Voir plus</a>
        </div>
    </div>
    
    <div class="bg-white py-4"></div>

    <div class="container p-4 bg-secondary text-white">
        <h2 class="text-primary text-center">Nos services</h2>
        <div class="row row-cols-2 row-cols-lg-3" id="service-container">
            <!-- Les services seront affichés ici -->
            {% for service in services %}
                <div class="col p-3">
                    <div class="card bg-dark text-white">
                        <img src="../images/vue-zoo.jpg" class="card-img-top" alt="{{ service.name }}"/>
                        <div class="card-body">
                            <h5 class="card-title">{{ service.name }}</h5>
                            <a href="{{ path('app_services_show', {'id': service.id}) }}" class="btn btn-outline-light mt-2">Voir plus</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p class="text-center">No services found</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="bg-white py-4"></div>

    <div class="container p-4 bg-dark text-white">
        <h2 class="text-primary text-center">Nos animaux</h2>
        <div class="row row-cols-2 row-cols-lg-3" id="animal-container">
            <!-- Les animaux seront affichés ici -->
            {% for animal in animals %}
                <div class="col p-3">
                    <div class="card bg-light text-black">
                        <img src="{{ animal.image }}" class="card-img-top" alt="{{ animal.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ animal.name }}</h5>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p class="text-center">No animals found</p>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-end">
            <a href="{{ path('app_animals_index') }}" class="btn btn-outline-light mt-2">Voir plus</a>
        </div>
    </div>

    <div class="bg-white py-4"></div>

    <div class="container p-4 bg-secondary text-black">
        <h2 class="text-primary text-center">Informations utiles</h2>
        <div class="row">
            <div class="col-12 col-lg-6 text-center">
                <h3>Contact</h3>
                {% for informations in informations %}
                    <p>Adresse : {{ informations.contactAddress }}</p>
                    <p>Téléphone : {{ informations.contactPhone }}</p>
                    <p>Email : {{ informations.contactEmail }}</p>
                {% endfor %}
            </div>
            <div class="col-12 col-lg-6 text-center">
                <h3>Horaires</h3>
                {% for informations in informations %}
                    <p>{{ informations.openingDays }} : {{ informations.openingHours }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <h3>Tarifs</h3>
                {% for informations in informations %}
                    <p>Adulte : {{ informations.adultPrice }}</p>
                    <p>Enfant (3-12 ans) : {{ informations.childPrice }}</p>
                    <p>Moins de 3 ans : {{ informations.toddlerPrice }}</p>
                    <p>Famille (2 adultes + 2 enfants) : {{ informations.familyPrice }}</p>
                    <p>Groupe (à partir de 8 personnes) : {{ informations.groupPrice }} par personne</p>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <a href="{{ path('app_informations_index') }}" class="btn btn-outline-dark mt-2">Voir plus</a>
        </div>
    </div>

    <div class="bg-white py-4"></div>

    <div class="container p-4 bg-dark text-white">
        <h2 class="text-primary text-center">Vos commentaires</h2>
        <div class="row row-cols-1 row-cols-md-2">
            {% for comment in comments %}
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.name }}</h5>
                            <p class="card-text">{{ comment.comment }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p class="text-center">No comments found</p>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-end text-center">
            <a href="{{ path('app_comments_index') }}" class="btn btn-outline-light mt-2">Voir plus</a>
        </div>
    </div>
{% endblock %}
