{% extends 'base.html.twig' %}

{% block title %}Bienvenue au Zoo Arcadia{% endblock %}

{% block body %}
    <div class="hero-scene text-center text-white bg-primary py-5">
        <div class="hero-scene-content">
            <h1>Bienvenue au Zoo Arcadia</h1>
            <p>Découvrez notre zoo et nos valeurs écologiques</p>
            <img src="../images/zoo-welcome.jpg" class="img-fluid" alt="Bienvenue au Zoo Arcadia">
        </div>
    </div>

    <div class="container p-4 bg-light">
        <h2 class="text-primary">Nos Habitats</h2>
        <div class="row row-cols-2 row-cols-lg-3" id="habitat-container">
            <!-- Les habitats seront affichés ici -->
            {% for habitat in habitats %}
                <div class="col p-3">
                    <div class="card bg-dark text-white">
                        {% if habitat.images|length > 0 %}
                            <img src="{{ habitat.images[0].url }}" class="card-img-top" alt="Image de l'habitat {{ habitat.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ habitat.name }}</h5>
                            <a href="{{ path('app_habitats_show', {'id': habitat.id}) }}" class="btn btn-outline-light mt-2">Voir plus</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p class="text-center">No habitats found</p>
                </div>
            {% endfor %}
        </div>

        <h2 class="text-primary">Nos Services</h2>
        <div class="row row-cols-2 row-cols-lg-3" id="service-container">
            <!-- Les services seront affichés ici -->
            {% for service in services %}
                <div class="col p-3">
                    <div class="card bg-dark text-white">
                        <img src="../images/vue-zoo.jpg" class="card-img-top" alt="{{ service.name }}"/>
                        <div class="card-body">
                            <h5 class="card-title">{{ service.name }}</h5>
                            <a href="{{ path('app_services_show', {'id': service.id}) }}" class="btn btn-outline-light mt-2">Voir plus</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p class="text-center">No services found</p>
                </div>
            {% endfor %}
        </div>

        <h2 class="text-primary">Nos Animaux</h2>
        <div class="row row-cols-2 row-cols-lg-3" id="animal-container">
            <!-- Les animaux seront affichés ici -->
            {% for animal in animals %}
                <div class="col p-3">
                    <div class="card bg-dark text-white">
                        <img src="{{ animal.image }}" class="card-img-top" alt="{{ animal.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ animal.name }}</h5>
                            <a href="{{ path('app_animals_show', {'id': animal.id}) }}" class="btn btn-outline-light mt-2">Voir plus</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p class="text-center">No animals found</p>
                </div>
            {% endfor %}
        </div>

        <h2 class="text-primary">Avis du Zoo</h2>
        <div class="row row-cols-1 row-cols-md-2">
            {% for comment in comments %}
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ comment.name }}</h5>
                            <p class="card-text">{{ comment.comment }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12">
                    <p class="text-center">No comments found</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
