{% extends 'base.html.twig' %}

{% block title %}Détails du service - Zoo Arcadia{% endblock %}

{% block body %}
    <div class="hero-scene text-center text-white bg-primary py-5">
        <div class="hero-scene-content">
            <h1>Détails du service</h1>
        </div>
    </div>

    <div class="container p-4 bg-light">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="card bg-dark text-white">
                    <img src="../images/vue-zoo.jpg" class="card-img-top" alt="{{ service.name }}"/>
                    <div class="card-body">
                        <h5 class="card-title">{{ service.name }}</h5>
                        <p class="card-text">{{ service.description }}</p>
                        <div class="d-flex justify-content-between">
                            <a href="{{ path('app_services_index') }}" class="btn btn-outline-secondary">Retour à la liste</a>
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYEE') %}
                                <div>
                                    <a href="{{ path('app_services_edit', {'id': service.id}) }}" class="btn btn-outline-primary">Editer</a>
                                    <form method="post" action="{{ path('app_services_delete', {'id': service.id}) }}" style="display:inline;">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ service.id) }}">
                                        <button type="submit" class="btn btn-outline-danger">Supprimer</button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
