{% extends 'base.html.twig' %}

{% block title %}Races index{% endblock %}

{% block body %}
    <h1>Races index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for race in races %}
            <tr>
                <td>{{ race.id }}</td>
                <td>{{ race.label }}</td>
                <td>
                    <a href="{{ path('app_races_show', {'id': race.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_races_edit', {'id': race.id}) }}">edit</a>
                        <form method="post" action="{{ path('app_races_delete', {'id': race.id}) }}" style="display:inline;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ race.id) }}">
                            <button type="submit" class="btn btn-danger btn-sm">delete</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_races_new') }}">Create new</a>
    {% endif %}
{% endblock %}
