{% extends 'base.html.twig' %}

{% block title %}Contactez-nous - Zoo Arcadia{% endblock %}

{% block body %}
            <h1>Contactez-nous</h1>
            <p>Nous vous répondons !</p>
        </div>
    </div>

    <div class="container p-4">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(contactForm) }}
            <div class="mb-3">
                {{ form_label(contactForm.title) }}
                {{ form_widget(contactForm.title, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(contactForm.title) }}
            </div>
            <div class="mb-3">
                {{ form_label(contactForm.description) }}
                {{ form_widget(contactForm.description, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(contactForm.description) }}
            </div>
            <div class="mb-3">
                {{ form_label(contactForm.email) }}
                {{ form_widget(contactForm.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(contactForm.email) }}
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(contactForm) }}
    </div>
{% endblock %}
