{% extends 'base.html.twig' %}

{% block title %}Liste des Animaux{% endblock %}

{% block body %}
    <h1>Liste des Animaux</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>État</th>
                <th>Détails</th>
                <th>Habitat</th>
                <th>Image</th>
                <th>Race</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for animal in animals %}
            <tr>
                <td>{{ animal.name }}</td>
                <td>{{ animal.description }}</td>
                <td>{{ animal.state }}</td>
                <td>{{ animal.details }}</td>
                <td>{{ animal.habitat ? animal.habitat.name : '' }}</td>
                <td>
                    {% if animal.image %}
                        <img src="data:{{ animal.image.imageType }};base64,{{ animal.image.data|base64_encode }}" alt="{{ animal.image.filename }}" style="max-width: 100px;"/>
                    {% else %}
                        No image
                    {% endif %}
                </td>
                <td>{{ animal.race ? animal.race.label : '' }}</td>
                <td>
                    <a href="{{ path('app_animals_show', {'id': animal.id}) }}">Voir</a>
                    <a href="{{ path('app_animals_edit', {'id': animal.id}) }}">Éditer</a>
                    {{ include('animals/_delete_form.html.twig', {'id': animal.id}) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
