{% extends 'base.html.twig' %}

{% block title %}Détail de l'Animal{% endblock %}

{% block body %}
    <div class="container my-4">
        <div class="card mx-auto" style="width: 48rem;">
            {% if animal.image %}
                <img src="data:{{ animal.image.imageType }};base64,{{ animal.image.data|base64_encode }}" class="card-img-top" alt="{{ animal.name }}">
            {% else %}
                <img src="placeholder.jpg" class="card-img-top" alt="No image">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ animal.name }}</h5>
                <p class="card-text">{{ animal.description }}</p>
                <p class="card-text"><strong>État :</strong> {{ animal.state }}</p>
                <p class="card-text"><strong>Détails :</strong> {{ animal.details }}</p>
                <p class="card-text"><strong>Nombre de clics :</strong> {{ animal.clicks }}</p>
                {% if animal.habitat %}
                    <p class="card-text"><strong>Habitat :</strong> {{ animal.habitat.name }}</p>
                {% else %}
                    <p class="card-text"><strong>Habitat :</strong> Non spécifié</p>
                {% endif %}
                {% if animal.race %}
                    <p class="card-text"><strong>Race :</strong> {{ animal.race.label }}</p>
                {% else %}
                    <p class="card-text"><strong>Race :</strong> Non spécifiée</p>
                {% endif %}
                <div class="d-flex justify-content-between mt-2">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('app_habitats_index') }}" class="btn btn-warning">Éditer</a>
                        {{ include('animals/_delete_form.html.twig', {'id': animal.id, 'btn_class': 'btn btn-danger'}) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="{{ path('app_habitats_index') }}" class="btn btn-primary">Retour aux habitats</a>
        </div>
    </div>
{% endblock %}
