{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.createdAt) }}
        {{ form_widget(form.createdAt, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.dueDate) }}
        {{ form_widget(form.dueDate, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.status) }}
        {{ form_widget(form.status, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.animal) }}
        {{ form_widget(form.animal, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.animalReport) }}
        {{ form_widget(form.animalReport, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.habitatComment) }}
        {{ form_widget(form.habitatComment, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.foodConsumption) }}
        {{ form_widget(form.foodConsumption, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
