{% extends 'base.html.twig' %}

{% block title %}Tasks index{% endblock %}

{% block body %}
    <h1>Tasks index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>CreatedAt</th>
                <th>DueDate</th>
                <th>Status</th>
                <th>Animal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.createdAt ? task.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.dueDate ? task.dueDate|date('Y-m-d') : '' }}</td>
                <td>{{ task.status }}</td>
                <td>{{ task.animal ? task.animal.name : 'N/A' }}</td>
                <td>
                    <a href="{{ path('app_tasks_show', {'id': task.id}) }}" class="btn btn-outline-primary btn-sm">show</a>
                    <a href="{{ path('app_tasks_edit', {'id': task.id}) }}" class="btn btn-outline-secondary btn-sm">edit</a>
                    <form method="post" action="{{ path('app_tasks_delete', {'id': task.id}) }}" style="display:inline;">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                        <button type="submit" class="btn btn-outline-danger btn-sm">delete</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tasks_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
