{% extends 'base.html.twig' %}

{% block title %}Mes Tâches{% endblock %}

{% block body %}
    <h1>Mes Tâches</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('app_tasks_new') }}" class="btn btn-success mb-3">Nouvelle Tâche</a>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Date de Création</th>
                <th>Date d'Échéance</th>
                <th>Statut</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Utilisateur</th>
                    <th>Rôle</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.createdAt|date('d/m/Y') }}</td>
                    <td>{{ task.dueDate ? task.dueDate|date('d/m/Y') : 'Non définie' }}</td>
                    <td>{{ task.status }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ task.user.email }}</td>
                        <td>{{ task.user.roles|join(', ') }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('app_tasks_show', {'id': task.id}) }}" class="btn btn-primary">Voir</a>
                        {% if task.user == app.user or is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_tasks_edit', {'id': task.id}) }}" class="btn btn-warning">Éditer</a>
                            {{ include('tasks/_delete_form.html.twig') }}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucune tâche trouvée</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
