{% extends 'base.html.twig' %}

{% block title %}Détail de la Tâche{% endblock %}

{% block body %}
    <h1>Détail de la Tâche</h1>
    <table class="table">
        <tr>
            <th>Nom</th>
            <td>{{ task.name }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ task.description }}</td>
        </tr>
        <tr>
            <th>Date de Création</th>
            <td>{{ task.createdAt|date('d/m/Y') }}</td>
        </tr>
        <tr>
            <th>Date d'Échéance</th>
            <td>{{ task.dueDate ? task.dueDate|date('d/m/Y') : 'Non définie' }}</td>
        </tr>
        <tr>
            <th>Statut</th>
            <td>{{ task.status }}</td>
        </tr>
        {% if is_granted('ROLE_ADMIN') %}
            <tr>
                <th>Utilisateur</th>
                <td>{{ task.user.email }}</td>
            </tr>
            <tr>
                <th>Rôle</th>
                <td>{{ task.user.roles|join(', ') }}</td>
            </tr>
        {% endif %}
    </table>
    <a href="{{ path('app_tasks_index') }}" class="btn btn-primary">Retour à la liste</a>
    {% if task.user == app.user or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_tasks_edit', {'id': task.id}) }}" class="btn btn-warning">Éditer</a>
        {{ include('tasks/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
