{% extends 'base.html.twig' %}

{% block title %}Nos habitats{% endblock %}

{% block body %}
    <div class="container p-4 bg-light">
        <h1 class="text-primary">Nos Habitats</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for habitat in habitats %}
                <div class="col">
                    <div class="card h-100">
                        {% if habitat.image %}
                            <img src="{{ habitat.image.url }}" class="card-img-top" alt="{{ habitat.name }}">
                        {% else %}
                            <img src="placeholder.jpg" class="card-img-top" alt="{{ habitat.name }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ habitat.name }}</h5>
                            <a href="{{ path('app_habitats_show', {'id': habitat.id}) }}" class="btn btn-primary">Voir plus</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p>Aucun habitat trouvé</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
